.how-it-works {
  padding: clamp(3rem, 5vw, 5rem) 1.2rem;
  max-width: 75rem;
  margin: auto;
}

.how-it-works__header {
  text-align: center;
}

.how-it-works__steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  align-items: stretch;
}

.how-it-works__step {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
}

.how-it-works__step-title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.how-it-works__step-text {
  text-align: center;
  flex-grow: 1;
}

.how-it-works__icon {
  background-color: var(--secondary-default);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 1rem;
  color: var(--bg-two);
  flex-shrink: 0;
}
