.error-page{

  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  align-items: center;
  justify-content: center;


}

.error-content{
  background: var(--outline-default);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin: 2rem;
   box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.08);
  border-radius: 0.75rem;
  padding: 4rem;
  align-items: center;
  justify-content: center;

  transform-style: preserve-3d;
  transform: perspective(1000px)
  rotateY(var(--rotateY))
  rotateX(var(--rotateX));
}
.grape-container{
  display: flex;
  align-items: center;
  flex-direction: column;

.error-message{
  font-size: 1.5rem;
  text-align: center;
  max-width: 37.5rem;
}

.grape{
    color: var(--primary-default);
  }
}
