.category {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90px;
  width: 100%;
}

.event-list img {
  height: 180px;
  width: 300px;
}

.category-bar {
  align-items: center;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  border-radius: 10px;
  height: 50px;
  width: 90%;
}

.category-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 20px;
}

.event-list {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.all-events {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
}

.category-info {
  line-height: 33px;
  background-color: rgba(99, 102, 241, 1);
  border-radius: 20px;
  color: white;
  font-family: Inter;
  font-size: 12px;
  height: 33px;
  position: absolute;
  top: 20px;
  right: 15px;
  text-align: center;
  width: 93px;
}

.event {
  align-items: start;
  display: flex;
  cursor: pointer;
  justify-content: start;
  flex-direction: column;
  background-color: rgba(243, 244, 246, 1);
  border-radius: 10px;
  margin: 20px;
  height: 460px;
  position: relative;
  transition: all 0.3s ease;
  width: 290px;
}

.event:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.event-title {
  font-family: Inter;
  font-size: 18px;
  width: 100%;
  margin: 0.5rem 1.2rem;
  white-space: nowrap;
}

.event-date,
.event-location,
.event-spots {
  align-items: center;
  display: flex;
  font-family: Inter;
  font-size: 14px;
  margin: 0;
}

.event-spots,
.event-location,
.event-date,
.event-title {
  width: 100%;
}

.event-date svg,
.event-location svg,
.event-spots svg {
  margin-right: 0.5rem;
}

.event-info {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  width: 100%;
}

.event-action {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.event-join {
  border: none;
  background-color: rgba(99, 102, 241, 1);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-family: Inter;
  padding: 0.7rem;
  width: 180px;
}
