.footer-root{
min-height: 9rem;
overflow: visible;
padding: 3rem 0;
}

.footer-section-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.footer-links-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 0;
  gap: 1rem;
}

.footer-links-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  align-items: flex-start;
}

.footer-links-container li {
  color: var(--text-light);
}

a:hover{
  text-decoration: underline;
  color: var(--text-light);
}

.social-media-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding-top: 2rem;

}

.footer-copyrights{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--text-light);
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: var(--text-dark);
}



@media (min-width: 1000px) {

  .footer-section-container{
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 3rem;
  }

  .footer-links-container {
    flex-direction: row;
    gap: 4rem;
    text-align: left;
    padding-bottom: 10rem;
  }

  .footer-copyrights{
    padding-top: 1.5rem;
  }

}
