.modal-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow-y: auto;
  padding: 1rem;
}

.modal {
  background: var(--bg-one);
  border-radius: 16px;
  max-width: 35rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
}

.modal__header {
  position: relative;
  padding: 2rem 1.2rem 0 1.2rem;
}

.modal__close {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background-color: var(--primary-default);
  color: var(--text-light);
  padding: 0.2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__subtitle {
  color: var(--text-muted);
}

.modal__divider {
  height: 1px;
  background: var(--outline-default);
  margin: 0.8rem 0 1.5rem 0;
}

.modal__event-summary {
  background-color: var(--event-card-bg);
  border-radius: 12px;
  padding: 1.2rem 1.2rem 0.5rem 1.2rem;
  margin: 1.2rem;
}

.modal__event-title {
  margin-bottom: 1rem;
}

.modal__event-item {
  display: flex;
  gap: 0.6rem;
}

/* Form */
.modal__form {
  /* display: flex;
  flex-direction: column;
  gap: 0.5rem; */
  padding: 0 1.2rem 1.5rem 1.2rem;
}

.modal__form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.modal__label {
  font-weight: 600;
  color: var(--text-dark);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  /* margin-bottom: 0.5rem; */
}

.modal__required {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.modal__input,
.modal__textarea {
  padding: 0.6rem 0.8rem;
  background-color: transparent;
  border: 1px solid var(--outline-default);
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-body);
}

.modal__input::placeholder,
.modal__textarea::placeholder {
  font-size: 0.875rem;
  font-family: var(--font-body);
}

.modal__actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.modal__button {
  flex: 1;
  padding: 0.9rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}

.modal__button--secondary {
  background-color: transparent;
  border: 2px solid var(--outline-default);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.modal__button--secondary:hover {
  background-color: var(--outline-default);
}

.modal__button--primary {
  background-color: var(--primary-default);
  color: var(--text-light);
}

.modal__button--primary:hover {
  background-color: var(--primary-hover);
}
