.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;

  background-color: #f9fafb;
  height: 80px;
  margin: auto;
  padding: 1.2rem 1.2rem;
  width: 100%;
  max-width: 1200px;
}

.logo {
  background-color: gray;
  height: 50px;
  width: 100px;
}

.menu ul {
  align-items: center;
  display: flex;
  justify-content: center;
}

.menu ul li {
  list-style: none;
  margin: 0 1rem;
}

.menu {
  display: block;
}

.createEvent {
  background-color: #6366f1;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 20px;
  font-size: 1rem;
  height: 45px;
  padding: 0.5rem 1rem;
}

@media (max-width: 596px) {
  .menu ul {
    display: none;
  }
}
