.navbar {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f9fafb6e;
  height: 80px;
  margin: 0 auto;
  width: 85%;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 25%;
}

.logo img {
  border-radius: 5px;
}

.menu ul {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

.menu ul li a {
  list-style: none;
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}

.button-section {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 25%;
}

.createEvent {
  background-color: #6366f1;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 20px;
  font-size: 0.8rem;
  height: 40px;
  white-space: nowrap;
  width: 140px;
}

@media (max-width: 768px) {
  .createEvent {
    font-size: 0.9rem;
    padding: 0.4rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .createEvent {
    font-size: 0.8rem;
    padding: 0.3rem 1.2rem;
    margin-right: 50px;
  }
}

@media (min-width: 360px) and (max-width: 596px) {
  .menu {
    display: none;
  }

  .hamburger-menu {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 25%;
  }

  .navbar {
    width: 100%;
    justify-content: center;
    gap: 40px;
    align-items: center;
  }

  .logo {
    margin: 20px;
    width: 50%;
  }

  .logo img {
    height: 50px;
  }

  .hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25%;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
  }

  .floatMenu {
    display: block;
    position: absolute;
    top: 80px;
    background-color: #0f0f0ff2;
    width: 90vw;
    margin: auto;
    text-align: center;
    padding: 1rem 0;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    animation: slideDown 0.3s ease-in-out;
  }

  .floatMenu ul {
    list-style: none;
    padding: 0;

    margin: 0;
  }

  .floatMenu li {
    margin: 0.5rem 0;
  }

  .menu ul li a {
    color: white;
  }

  .menu ul li a:focus {
    color: rgb(224, 224, 224);
    font-size: 1.1rem;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (max-width: 768px) {
  .logo img {
    max-width: 150px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .logo img {
    max-width: 100px;
    height: auto;
  }
}
