.upcoming-events {
  padding: 2rem;
}

.upcoming-events-title {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.upcoming-events-list {
  display: grid;
  gap: 3rem;
  justify-content: center;
  grid-auto-rows: auto;
  align-items: stretch;
}

.event-card {
  background: var(--event-card-bg);
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.event-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.event-title,
.event-meta,
.event-spots {
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.event-button {
  margin: 2rem 4rem 2rem 4rem;
  padding: 1rem 1rem;
  background-color: #6366F1;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.see-all-events {
  color: #6366F1;
  position: static;
  text-align: center;
  padding-bottom: 1.5rem;
}

.upcoming-events-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 48rem) {
  .upcoming-events-list {
    grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr));
    gap: 5rem;
  }

  .upcoming-events-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .event-card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
