.upcoming-events {
  padding: 1.2rem 1.2rem;
  margin: 0 auto;
  max-width: 75rem;
}

.upcoming-events-title {
  text-align: center;
}

.upcoming-events-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  max-width: 75rem;
  margin: 0 auto;
}

.event-card {
  background: var(--event-card-bg);
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.event-card__image-wrapper {
  position: relative;
}

.event-card__category-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--primary-default);
  color: var(--text-light);
  padding: 0.5rem 0.9rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.event-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.event-card__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.8rem;
  /* margin-top: 1rem; */
}

.event-meta {
  display: flex;
  gap: 0.5rem;
}

.event-card__actions {
  display: flex;
  gap: 0.75rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
  padding: 0 1rem 1rem 1rem;
}

.event-button {
  flex: 1;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

.event-button--primary {
  background-color: var(--primary-default);
  color: var(--text-light);
}

.event-button--primary:hover {
  background-color: var(--primary-hover);
}

.event-button--secondary {
  background-color: var(--secondary-default);
  color: var(--text-light);
}

.event-button--outline {
  background-color: transparent;
  border: 2px solid var(--outline-default);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.event-button--outline:hover {
  background-color: var(--outline-default);
}

.see-all-events {
  color: var(--primary-default);
  position: static;
  text-align: center;
  padding-bottom: 1.5rem;
}

.see-all-events:hover {
  text-decoration: underline;
  color: var(--primary-default);
  text-underline-offset: 4px;
}

.upcoming-events-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.upcoming-events__loading {
  max-width: 31.25rem;
  margin: 4rem auto;
  padding: 3rem;
  text-align: center;
}

.upcoming-events__spinner {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto 1rem;
  border: 4px solid #f5f5f5;
  border-top: 4px solid var(--primary-default);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.upcoming-events__loading p {
  color: var(--text-muted);
  font-size: 1rem;
}
