.mission-section{
  padding: 2rem;
  text-align: center;
}

.mission-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  max-width: 700px;
  margin: 0 auto;
}

.mission-button{
  width: fit-content;
  background-color: var(--primary-default);
  color: var(--text-light);
  padding: 0.7rem 1rem;
  border-radius: 50px;
}
.mission-button:hover{
  background-color: var(--primary-hover);
  color: var(--text-light);
  text-decoration: none;
  cursor: pointer;
}

.mission-button:active{
  background-color: var(--primary-active);
  color: var(--text-light);
}
