.team-section {
  background-color: var(--bg-two);
  padding: 2.5rem 1.2rem;
}

.team-container {
  max-width: 75rem;
  margin: 0 auto;
}

.team-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge {
  display: inline-block;
  padding: 0.9rem 1.1rem;
  background-color: var(--primary-default);
  color: var(--text-light);
  border-radius: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.team-flex-container {
  display: flex;
  flex-direction: column;
}

.team-title {
  text-align: center;
}

.team-flex-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  /* width: 17rem; */
  min-height: 350px;
  border-radius: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: 1.5rem auto;
  background-color: var(--bg-one);

  p {
    width: 70%;
  }
}

.member-card__role {
  font-weight: 500;
  color: var(--primary-default);
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.member-initials-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: #667eea;
  margin-bottom: 1rem;
  background: linear-gradient(
    180deg,
    rgba(102, 126, 234, 1) 0%,
    rgba(166, 100, 195, 1) 50%,
    rgba(236, 72, 153, 1) 100%
  );

  h1 {
    color: var(--text-light);
    font-weight: 600;
    margin: auto auto;
  }

  h2 {
    margin: auto auto;
    color: var(--text-light);
    font-weight: 500;
  }
}

@media (min-width: 40rem) {
  .team-flex-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64rem) {
  .team-flex-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
}

@media (min-width: 600px) {
  .team-flex-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
