.about-story-container {
  max-width: 1200px;
  padding: 2.5rem 1.2rem 1rem 1.2rem;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-one);
}

.about-story-whole-layout {
  display: grid;
  grid-template-columns: 1fr;
}

.badge {
  display: inline-block;
  padding: 0.9rem 1.1rem;
  background-color: var(--primary-default);
  color: var(--text-light);
  border-radius: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-story-subheading {
  margin-bottom: 1rem;
}

.about-story-image {
  display: none;
}

@media (min-width: 48rem) {
  .about-story-image img {
    width: 100%;
    border-radius: 8px;
  }
}

@media (min-width: 64rem) {
  .about-story-container {
    padding: 2rem 2rem;
  }

  .about-story-whole-layout {
    text-align: left;
  }

  .about-story-subtitle {
    margin-bottom: 2rem;
  }

  .about-story-whole-layout {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: start;
  }

  .about-story-image {
    display: block;
  }

  .about-story-whole-layout {
    gap: 4rem;
  }
}
