.stats-section{
  background-color: rgb(245, 245, 245);
  padding: 5rem 0;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2.5rem;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}

.stats-section h1{
background: -webkit-linear-gradient(250deg, #667EEA, #EC4899);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  padding: 10px;
}


@media (min-width: 1000px) {

  .stats-section{
   background-color: #F9FAFB;
  padding: 6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
}
