.stats-section {
  background-color: var(--bg-one);
  padding: 2.5rem 1.2rem 3rem 1.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2.5rem;
  align-items: center;
  text-align: center;
  max-width: 75rem;
  margin: 0 auto;
}

.stats-section h2 {
  background: linear-gradient(135deg, var(--primary-default) 0%, #ec4899 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.125rem;
  padding: 0.625rem;
}

@media (min-width: 48rem) {
  .stats-section {
    padding: 4rem 1.2rem 3rem 1.2rem;
  }
}
